body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: auto; 
}

main {
  flex: 1 0 auto;
  padding-bottom: 32px;
}

.fa, .fab, .fal, .far, .fas {
  margin: 0 10px 0 10px;
}
.banner {
  height: 300px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  background-color: #ee6e73;
  padding-top: 20px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
.footer-copyright {
  background-color: rgba(51,51,51,0.08);
  padding: 15px 0 15px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 8px;
    box-shadow: 0 2px 4px rgba(30, 60, 90, 0.1);
}

.logo {
    padding: 10px 0;
   	width: 120px;
    margin: none;
}


.button {
    position: left;
    background-color: #7875ff;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px;
    width: 150px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
	background-color: #6f42c1;
    text-decoration: none;
}

.a {
    position: left;
    background-color: #7875ff;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px;
    width: 150px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.a:hover {
	background-color: #6f42c1;
	text-decoration: none;
}


.cart-button {
    position: left;
    border:none;
    font-size: 15px;
    color: #7875ff;
    padding: 10px;
    margin: 10px;
    width: max-content;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    display: flex;   
    flex-direction: column;  
}

.cart-button:hover {
  color: #6f42c1;
  text-decoration: none;
}

.fa-shopping-cart:hover {
    color: #400080;
}

.empty-cart-img{
	width: 250px;
	height: 250px;
	color: gray;
	opacity: 50%;
}

.empty-cart, .form-login{
	box-sizing: border-box;
	padding:32px;
	min-height: calc(100vh - 242px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card{
	background-color: #ffff;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.12);
	padding: 64px;
}

.empty-cart-text{
	color: gray;
}

.product-list, .pedido-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
}

.pedido-list{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 16px;
	align-content: flex-start;
}

.product-list > div{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pedido-list > div{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card-pedido{
	background-color: gray;
	padding: 16px;
	margin: 16px;
}

.card-itens{
	/*tá em teste tentando arrumar*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: flex-start;
	
}

@media screen and (max-width:599px){
	
	.product-list {
		grid-template-columns: 1fr;
	}

}

@media screen and (min-width:600px) and (max-width:900px){
	
	.product-list {
		grid-template-columns: 1fr 1fr;
	}

}

h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
    h1, .h1 {
    font-size: 2.5rem;
    }
} 

footer { 
  background: #7875ff;
  padding: 25px 0;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  position: relative;
}
